---
import Layout from "../../layouts/MainLayout.astro";
import PageHeader from "../../components/pageHeader.astro";

const tools = [
  {
    name: "JSee",
    path: "/tools/jsee",
    description: "A tool to visualize JSON data in a tree view.",
  },
  {
    name: "NamemaN",
    path: "/tools/nameman",
    description: "A tool to generate random names.",
  }
];

const meta = {
  title: "Tools",
  description: "A few useful tools for Make Benefit Glorious Nation of Web",
};
---

<Layout title={meta.title} meta={meta}>
  <main>
    <PageHeader {...meta}/>

    <div class="tools">
      {
        tools.map((tool) => (
          <a href={tool.path} class="tool">
            <h2>{tool.name}</h2>
            <p>{tool.description}</p>
          </a>
        ))
      }
    </div>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      gap: 1rem;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
    .tools {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .tool {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: var(--border-radius);
      background-color: var(--surface);
      h2,
      p {
        margin: 0;
      }
      p {
        color: var(--text);
      }
    }
  </style>
</Layout>
