---
import Layout from "../layouts/BaseLayout.astro";
import Links from "../components/profileLinks.astro";
import Container from "../components/container.astro";
import { icons } from "../content/icons";
---

<Layout title="xypnox">
  <main>
    <div class="intro">
      <img src="/xypnox-logo.svg" alt="xypnox" />
      <p>Hi, I am xypnox!</p>
      <p>Following are things I do.</p>
    </div>

    <Container title="Dev" icon={icons.dev}>
      <a href="https://xypnox.studio">Studio</a>
      <a href="https://github.com/xypnox">Github</a>
    </Container>

    <Container title="Design" icon={icons.design}>
      <a href="/design">Design</a>
      <a href="/design/covers">Covers</a>
      <a href="/design/icons">Icons</a>
      <a href="https://posters.xypnox.com">Posters</a>
      <a href="https://xypnox.studio">Studio</a>
    </Container>

    <Container title="Literature" icon={icons.lit}>
      <a href="/blag">Blag</a>
      <a href="/why-xypnox">Why xypnox</a>
      <a href="https://poems.xypnox.com">Poems</a>
    </Container>

    <Container title="Links" icon={icons.links}>
      <Links />
    </Container>

    <Container title="Collab?" icon={icons.links}>
      <a href="/services/">Services</a>
      <div>
        <p>So you wanna collab?</p>
        <p>Drop me a mail</p>
        <a href="mailto:collab@xypnox.com">collab@xypnox.com</a>
      </div>
    </Container>
    <p>PSA: The navbar is at the bottom.</p>
  </main>
</Layout>

<style>
  html {
    background-image: url("/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
    max-width: 800px;
    margin-top: 4rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    font-size: 2rem;
  }

  .intro img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 50%;
    background: var(--surface);
    border: 4px dashed var(--border);
  }

  main a {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: var(--text);
    background: var(--surface);
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  main a:hover {
    color: var(--primary-color);
  }
</style>
