---
import Layout from "../layouts/MainLayout.astro";
import {data, pastEventRender, legends, totalMonths} from '../content/past.ts';
import { capitalize } from "../lib/text.ts";
import PageHeader from "../components/pageHeader.astro";

const meta = {
  title: "Past | xypnox",
  description: "A chronological log of my past events, milestones and achievements."
}
---

<Layout title="Past | xypnox" meta={{ description: data.description}}>
  <main>
    <PageHeader {...meta} title="Past"  />
    <p>This log is in no way finished yet.</p>
    <div class="past-grid"
    style={{
      '--totalMonths': totalMonths
    }}
    >
    {legends.map(legend => (
      <div
        class="past-legend"
        style={{
          '--start': legend.gridStart > 0 ? legend.gridStart : 1,
          '--span': legend.gridSpan,
        }}
      >
        <h2>{legend.title}</h2>
      </div>
    ))}
    {pastEventRender.map(ev => (
      <div class={"past-item " + ev.type + ' event-' + ev.category}
        data-span={ev.gridSpan}
        style={{
          '--start': ev.gridStart > 0 ? ev.gridStart : 1,
          '--span': ev.gridSpan, 
          'grid-column': ev.column
        }}
      >
        <p class="event-category">
          {ev.icon && <iconify-icon icon={ev.icon} />}
          {capitalize(ev.category)}
        </p>
        <h2>
        {ev.url ? <a href={ev.url}>{ev.title}
        <iconify-icon icon="ph:arrow-up-right-light" />
        </a> : ev.title}
        </h2>
      </div>
    ))}

    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-xxxl);
    gap: 4rem;
    height: 100%;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    .separator {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-xxxl);
      color: var(--fadeText);
    }
  }

  .past-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2em repeat(6, 1fr);
    grid-template-rows: repeat(var(--totalMonths), 1em);
    width: max-content;
    max-width: 100%;
    overflow-x: auto;
  }

  .past-item {
    height: 100%;
    grid-row-start: var(--start);

    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0.25em 0.5em;

    p, h2 {
      margin: 0;
    }

    h2 {
      font-size: var(--font-size-base);
      a {
        color: inherit;
        display: flex;
        align-items: center;
        iconify-icon {
          font-size: var(--font-size-sm);
        }
      }
    }

    &[data-span="1"] {
      padding: 0.15em 0.5em;
      font-size: var(--font-size-sm);
      h2 {
        font-size: var(--font-size-sm);
      }
    }

    .event-category {
      display: flex;
      align-items: center;
      gap: 0.25em;
      color: var(--primary-color);
    }
  }

  .past-legend {
    writing-mode: vertical-rl;
    text-orientation: upright;
    grid-row-start: var(--start);
    grid-column: 1;
    grid-row-end: span var(--span);
    color: var(--fadeText);
    text-align: center;
    border: 1px solid var(--fadeText);
    border-radius: calc(var(--border-radius) * 2);
  }

  .past-item.event {
    color: var(--text);
    grid-row-end: span max(var(--span), 2);
    border-left: 4px solid var(--surface2);
    &.event-work {
      border-left: 4px solid var(--secondary-color);
    }
    &.event-consult {
      border-left: 4px solid var(--heading);
    }
    &.event-personal {
      border-left: 4px solid var(--primary-color);
    }
  }

  .past-item.milestone {
    align-items: center;
    color: var(--secondary-color);
    grid-row-end: span 3;
    justify-content: center;
    padding: 0.5em;
    gap: 0;
    border: 1px dashed var(--secondary-color);
  }

  @media (max-width: 700px) {
    .past-grid {
      grid-template-columns: 2em repeat(6, 3.5rem);
    }
    .past-item {
      writing-mode: vertical-rl;
      gap: 0em;
      padding: 0.25em 0.5em;
    }
    .past-item.event {
      grid-row-end: span max(var(--span), 3);
      &[data-span="1"] {
        width: 3.5em;
        padding: 0.15em 0.25em;
        font-size: var(--font-size-sm);
        h2 {
          font-size: var(--font-size-sm);
        }
      }
    }
    .past-item.milestone {
      align-items: flex-start;
    }
  }

</style>
