---
import { Projects } from '../content/projects'
import PageHeader from '../components/pageHeader.astro'
import Layout from '../layouts/BaseLayout.astro'
import PageNav from '../components/pageNav.astro'

const ProjectsWithSlug = Projects.map((p) => {
  p.slug = p.title.toLowerCase().replace(/ /g, '-')
  return p
})
---

<Layout title="Projects">
  <main>
    <PageHeader title="Projects" />
    <PageNav links={
      ProjectsWithSlug.map((p) => ({
        name: p.title,
        slug: p.slug
      }))
    } />
    <div class="projectList">
      {ProjectsWithSlug.map((p) => (
          <div id={p.slug} class="projectCard">
              <h1>{p.title}</h1>
              {p.description.map((d) => (
                  <p>{d}</p>
              ))}
              {p.link &&
                <a href={p.link}>{p.link}</a>
              }
              <p class="projectTags">{p.tags.map((t) => (
                  <span>{t}</span>
              ))}</p>
          </div>
      ))}
    </div>
  </main>
</Layout>

<style>
.projectList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.projectCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 1rem;
  width: 100%;
}

.projectCard p, .projectCard h1 {
  margin: 0;
}

.projectTags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.projectTags span {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background: var(--surface);
}
</style>

