---
import Layout from "../../layouts/BaseLayout.astro";
import { Covers } from "../../content/coverData";
import { ImageGrid, ImageCollage } from "../../components/imageGrid";

const covers = Covers.map((coverCollection) => ({
  ...coverCollection,
  slug: coverCollection.name.toLowerCase().replace(" ", "-"),
  covers: coverCollection.covers.map((cover) => ({
    name: cover.replace(".webp", ""),
    thumbName: `/covers/thumbnails/${cover}`,
    path: `/covers/${cover}`,
  })),
}));
---

<Layout title="Covers">
  <h1 class="page-title">Covers</h1>
  <nav class="covers-nav">
    {
      covers.map((col) => (
        <a href={`#${col.slug}`}>
          {col.name} - {col.covers.length}
        </a>
      ))
    }
  </nav>
  <ImageCollage
    client:load
    collages={covers.map((col) => ({
      title: col.name,
      description: col.description,
      id: col.slug,
      images: col.covers.map((cov) => ({
        url: cov.path,
        thumbnail: cov.thumbName,
        title: cov.name,
        alt: cov.name,
        link: cov.path,
      })),
    }))}
  />
</Layout>

<style>
  .page-title {
    text-align: center;
  }
  .covers-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 1rem;
  }
</style>
