---
interface Props {
  title?: string;
  // Links title
  linkTitle?: string;
  icon?: string;
  image?: string;
  color?: string
  links?: {
    title: string;
    href: string;
    desc: string;
  }[];
}
const { title, icon, image, links, linkTitle, color } = Astro.props;
---

<div class={ "container-wrapper theme-card" + (image ? " with-image" : "") }>
  {image && <img src={image} alt={title} />}
  <div class="info">
    {title && 
      <h1>
        {icon && <iconify-icon name={icon} />}
        {linkTitle ? <a class="text-gradient-fx" href={linkTitle}> {title}</a> : title}
      </h1>
    }
    <slot name="description" />
  </div>
  <div class="container-content">
      {links && links.map((link) => (
        <a class="container-link" href={link.href}>
          <div class="link-title">
            {link.title}
          </div>
          <div class="link-desc">
            {link.desc ?? ''}
          </div>
        </a>
      ))}
    <slot />
  </div>
  <slot name="end" />
</div>

<style define:vars={{ color: color }}>
  .container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border-radius: calc(2 * var(--border-radius));
    transition: all 0.5s ease-in-out; 
  }

  .container-wrapper :global(p) {
    margin: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
    color: var(--fadeText);
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0;
    width: 100%;
    color: var(--text);
  }
  h1 > svg {
    width: 2rem;
    height: 2rem;
    color: var(--primary-color);
    flex-shrink: 0;
  }

  h1 a {
    text-decoration: none;
    color: currentColor;
  }
  .container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    grid-gap: 1rem;
    grid-column-gap: 1rem;
    gap: 1rem;
  }

  .container-link {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.66rem;
    width: 100%;
    gap: 0.25rem;
    color: var(--text);
    text-decoration: none;
    border-radius: calc(2 * var(--border-radius));
    border: 2px var(--border-style) transparent;
    transition: all 0.5s ease-in-out;
  }
  .container-link div {
    transition: all 0.5s ease-in-out;
  }

  .container-link .link-title {
    font-weight: 500;
    font-size: var(--font-size-md);
  }
  .container-link .link-desc {
    color: var(--fadeText);
  }

  .container-link:hover {
    transition: all 0.1s ease-in-out;
    border-color: var(--color);
  }
  .container-link:active {
  }

  .container-link:hover div {
    color: var(--color);
  }

  .with-image {
    position: relative;
    padding-top: 4.5rem;
    margin-top: 8em;
    height: max-content;
  }
  .with-image > img {
    position: absolute;
    height: 8em;
    width: 8em;
    top: -4rem;
  }

  @media (max-width: 768px) {
    .container-content {
      grid-template-columns: 1fr;
    }
  }
</style>
