---
import { type ProjectData, type ProjectImage } from "../content/projects/types";
import type { Image } from "../dataTypes";
import { icons } from "./icons";
import { ProjectImages } from "./projectImages";

interface Props {
  project: ProjectData;
  coverImage?: Image;
  images: ProjectImage[];
}

const { project, images, coverImage } = Astro.props;
---

<div class="project">
  <div class="intro">
    <div class="project-info">
      <img src={project.image} alt={`Icon of ${project.title}.`} />
      <div>
        <h1 class="title text-gradient-fx">
          {project.title}
        </h1>
        <h2 class="subtitle">{project.description.join("\n")}</h2>
      </div>
    </div>
    {
      coverImage && (
        <div class="cover-image">
          <img src={coverImage.image.src} alt={coverImage.alt} />
          <p>{coverImage.alt}</p>
        </div>
      )
    }
    <p class="projectTags">
      {project.tags.map((t) => <span>{t}</span>)}
      <span>
        <iconify-icon icon={icons.image}></iconify-icon>
        {images.length}</span
      >
    </p>
  </div>
  <div class="content">
    {
      project.content &&
        project.content.length > 0 &&
        project.content?.map((content) => (
          <div
            class={
              "content-block theme-card " +
              (content.length > 70 ? "isLarge" : "")
            }
          >
            <p>{content}</p>
          </div>
        ))
    }
    {
      project.award && (
        <div class="content-block theme-card award">
          <iconify-icon icon={icons.award} />
          <p>{project.award}</p>
        </div>
      )
    }
  </div>
  <ProjectImages
    cover={coverImage !== undefined
      ? {
          ...coverImage,
          description: [coverImage.alt as string],
        }
      : undefined}
    images={images}
    client:load
  />
</div>

<style>
  .project {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 1rem;
    @media (max-width: 1200px) {
      padding: 0;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    margin: 2rem 0;
    img {
      width: 256px;
      height: 256px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      img {
        width: 128px;
        height: 128px;
      }
    }
  }

  .title {
    font-size: var(--font-size-xxxl);
    margin: 0;
  }
  .subtitle {
    font-size: var(--font-size-xl);
    font-weight: 400;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    @media (max-width: 1440px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-md);
    padding: 2rem;
    border-radius: calc(var(--border-radius) * 4);
    height: max-content;
    grid-column: span 1;
    grid-row: span 1;
  }

  .cover-image {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
    img {
      width: 100%;
      -webkit-filter: drop-shadow(var(--shadow-cardDrop));
      filter: drop-shadow(var(--shadow-cardDrop));
    }
    p {
      font-size: var(--font-size-base);
      text-align: center;
    }
  }

  .projectTags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .projectTags span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: calc(var(--border-radius) * 4);
    background: var(--surface);
    font-size: var(--font-size-base);
  }

  .award {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    border-radius: calc(var(--border-radius) * 4);
    max-width: 50ch;
    margin: 0 auto;
    font-size: var(--font-size-md);
    height: max-content;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    iconify-icon {
      font-size: var(--font-size-xl);
      color: var(--secondary-color);
    }
  }
</style>
